<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 
    
    Dragonfruit Template 
    
    http://www.templatemo.com/tm-411-dragonfruit
    
    -->
    <title>Index</title>
    <meta name="description" content="" />
    <!-- templatemo 411 dragonfruit -->
    <meta name="author" content="templatemo">
    <!-- Favicon-->
    <link rel="shortcut icon" href="./favicon.png" />		
    <!-- Font Awesome -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template  -->
    <link href="~/Content/css/templatemo_style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
    @{
        if(Session["username"]==null)
        {
            ViewBag.Title = "Index";
            Layout = "~/Views/Shared/_mainLayout.cshtml";
            
        }
        else
        {
            ViewBag.Title = "Index";
            Layout = "~/Views/Shared/_mainLayoutWithLogout.cshtml";
            
        }
    }

    
<div class="banner" id="templatemo_banner_slide">
    <ul>
        <li class="templatemo_banner_slide_01">
            <div class="slide_caption">
                <h1>Make your Impression on Map</h1>
                <p>Mark your visited places on map to show the world where have you been. Mark your best of best to be praised by the world. Make that place worth scene by pin pointing the exact location.Show world your Photography</p>
            </div>
        </li>
        <li class="templatemo_banner_slide_02">
            <div class="slide_caption">
                <h1>Know your Dream place well</h1>
                <p>Know the History of your place by an article about that place. Place that deserves a visit. Be fond of beauty of Nature.</p>
            </div>
        </li>
        <li class="templatemo_banner_slide_03">
            <div class="slide_caption">
                <h1>Virtual walk-through</h1>
                <p>Have video tours of places you want to visit.In this section you may find your next adventure place or holiday spot. The places you have not seen yet and momments that are still waiting for you.</p>
            </div>
        </li>
    </ul>
</div>

    <div id="templatemo_mobile_menu">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#templatemo_banner_slide"><i class="glyphicon glyphicon-home"></i> &nbsp; Home</a></li>
            <li><a href="#templatemo_about"><i class="glyphicon glyphicon-briefcase"></i> &nbsp; Maps</a></li>
            <li><a href="Article.cshtml"><i class="glyphicon glyphicon-bullhorn"></i> &nbsp; Events</a></li>
            <li><a rel="nofollow" href="http://www.facebook.com/templatemo" class="external-link"><i class="glyphicon glyphicon-export"></i> &nbsp; External</a></li>
            <li><a href="http://www.visitmarker.com/Developer/" class="external-link"><i class="glyphicon glyphicon-calendar"></i> &nbsp; About</a></li>
            <li><a href="#templatemo_contact"><i class="glyphicon glyphicon-phone-alt"></i> &nbsp; Contact</a></li>
        </ul>
    </div>

<div id="templatemo_about" class="container_wapper">
    <div class="container-fluid">
        <h1>Maps</h1>
		<div id="templatemo_map"></div>
	</div>
</div>
    foreach (var i in Model)
    {
        <div style="grid-row-align:stretch">
            <div style="width:50px; "><img src="@i.image" width="300" height="200"  /></div>
            <h1>Name:<label>@i.Name</label></h1>
            <h2>Location:@i.Location</h2>
        </div>


    }
<div id="templatemo_contact" class="container_wapper">
    <div class="container-fluid">
        <h1>Contact</h1>
        <div class="col-xs-12">
            <div id="templatemo_contact_map"></div>
        </div>
        <div class="col-md-4">
            <h2>Contact Us</h2>
            <p>Your feedback would be highly obliged.We woluld love to listen comments from you.</p>
            <br>
            <p><strong>Email:</strong>abdullah00764@gmail.com<br /><strong>Phone:</strong>+92-3244895111<br /><strong>Address:</strong> 5400 Kabir Street, <br>Lahore, Punjab, Pakistan</p>
            <ul class="list-inline social-link">
                <li>
                    <a href="#"><i class="fa fa-linkedin"></i></a> 
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter"></i></a> 
                </li>
                <li>
                    <a href="#"><i class="fa fa-facebook"></i></a> 
                </li>
                <li>
                    <a href="#"><i class="fa fa-youtube"></i></a> 
                </li>
                <li>
                    <a href="#"><i class="fa fa-github"></i></a> 
                </li>
           </ul>
        </div>
        <form action="#" method="post" class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                <h2>Send any Enquiry</h2>
                </div>
                <div class="col-md-6">
                    <p>Name</p>
                    <input type="text" name="name" id="name" placeholder="Your Name" />
                </div>
                <div class="col-md-6">
                    <p>Email</p>
                    <input type="text" name="email" id="email" placeholder="Your Email" />
                </div>
                <div class="col-md-12">
                    <p>Subject</p>
                    <input type="text" name="subject" id="subject" placeholder="Subject" />
                </div>
                <div class="col-md-12">
                    <p>Message</p>
                    <textarea name="message" id="message"  placeholder="Write your message here..."></textarea>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-offset-6">
                    <button type="submit">Send</button>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <button type="reset">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="templatemo_footer">
    <div>
        <p id="footer">Copyright &copy; Kabir technologies</p>
    </div>
</div>
<script src="/Scripts/js/temp.js"></script>
<script src="/Scripts/js/jquery.min.js"></script>
<script src="/Scripts/js/jquery-ui.min.js"></script>
<script src="/Scripts/js/bootstrap.min.js"></script>
<script src="/Scripts/js/jquery.singlePageNav.min.js"></script>
<script src="/Scripts/js/unslider.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&amp"></script>
<script src="/Scripts/js/templatemo_script.js"></script>

   @* <script>
        document.ready(function () {
            $.getJSON("\controller\function", function (data) {

            });
        });
    </script>*@
</body>
</html>