<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Library Management System</title>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width">
    <!-- Css Files Start -->
    <link href="/Content/css/BXSlider/bs.css" rel="stylesheet" />
    <link href="/Content/css/BXSlider/font-awesome-ie7.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/Content/css/BXSlider/font-awesome.css" />
    <link href="/Content/css/BXSlider/main-slider.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/BXSlider/style.css" rel="stylesheet" type="text/css" />

    <noscript>
        <link rel="stylesheet" type="text/css" href="~/Content/noJS.css" />
    </noscript>
    <!-- Css Files End -->
</head>
<body>
    <!-- Start Main Wrapper -->
    <div class="wrapper">
        <!-- Start Main Header -->
        <!-- Start Top Nav Bar -->
        <section class="top-nav-bar">
            <section class="container-fluid container">
                <section class="row-fluid">
                    <section class="span6">
                        <ul class="top-nav">
                            <li><a href="~/Home/index" class="active">Home page</a></li>
                            <li><a href="~/Home/grid_view">Books</a></li>
                            <li><a href="~/Home/blog_detail">News</a></li>
                            <li><a href="~/Home/contact">Contact Us</a></li>
                        </ul>
                    </section>
                    <section class="span6 e-commerce-list">
                        <ul>
                            <li>Welcome! <a href="~/Home/checkout">Login</a> or <a href="~/Home/checkout">Create an account</a></li>
                            <!-- <li class="p-category"><a href="#">$</a> <a href="#">£</a> <a href="#">€</a></li> -->
                            <li class="p-category"><a href="#">eng</a> <a href="#">de</a> <a href="#">fr</a></li>
                        </ul>
                    </section>
                </section>
            </section>
        </section>
        <!-- End Top Nav Bar -->
        <header id="main-header">
            <section class="container-fluid container">
                <section class="row-fluid" style="margin-top:-25px; margin-bottom:10px">
                    <h1 id="logo"> <a href="~/Home/index"><img style="margin-right:20px" width="120" src="~/images/logo.png" /></a> <h2 style=" font-size:40px; margin-top:30px; ">National University of Computer & Emerging Sciences</h2> </h1>
                </section>
            </section>
            <!-- Start Main Nav Bar -->
            <nav id="nav">
                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <!--/.nav-collapse -->

                        <div class="search-bar" style="margin-top:5px; margin-bottom:5px">
                            <u><a href="~/Home/checkout" style="margin-left:20px; font-size:30px">My Account</a></u>
                            <input name="" type="text" value="search entire store here..." />
                            <input name="" type="button" value="Serach" />

                        </div>
                    </div>
                    <!-- /.navbar-inner -->
                </div>
                <!-- /.navbar -->
            </nav>
            <!-- End Main Nav Bar -->
        </header>
        <!-- End Main Header -->
        <!-- Start Main Content Holder -->
        <section id="content-holder" class="container-fluid container">
            <section class="row-fluid">
                <section class="span12 slider">
                    <section class="main-slider" style="margin-top:-60px">
                        <div class="bb-custom-wrapper">
                            <div id="bb-bookblock" class="bb-bookblock">
                                <div class="bb-item">
                                    <div class="bb-custom-content">
                                        <div class="slide-inner">
                                            <div class="span4 book-holder">
                                                <a href="~/Home/book_detail"><img src="~/images/image01.png" alt="Book" width="280" /></a>
                                            </div>
                                            <div class="span8 book-detail">
                                                <h2 style="color:white">Book Name</h2>
                                                <strong class="title" style="color:white">by Author Name</strong> <span class="rating-bar"> <img src="~/images/raing-star2.png" alt="Rating Star" /> </span> <a href="~/Home/book_detail" class="shop-btn">Reserve Book</a>
                                                <div class="cap-holder">
                                                    <p><img src="~/images/image27.png" alt="Best Choice" align="right" />  Description about Book.............. </p>
                                                    <a href="~/Home/book_detail">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bb-item">
                                    <div class="bb-custom-content">
                                        <div class="slide-inner">
                                            <div class="span8 book-detail">
                                                <h2 style="color:white">Book Name</h2>
                                                <strong class="title" style="color:white">by Author Name</strong> <span class="rating-bar"> <img src="~/images/raing-star2.png" alt="Rating Star" /> </span> <a href="~/Home/book-detail" class="shop-btn">Reserve Book</a>
                                                <div class="cap-holder">
                                                    <p><img src="~/images/image27.png" alt="Best Choice" align="right" /> Description about Book.............. </p>
                                                    <a href="~/Home/book_detail">Read More</a>
                                                </div>
                                            </div>
                                            <div class="span4 book-holder">
                                                <a href="~/Home/book_detail"><img src="~/images/image02.jpg" alt="Book" width="280" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bb-item">
                                    <div class="bb-custom-content">
                                        <div class="slide-inner">
                                            <div class="span4 book-holder">
                                                <a href="~/Home/book_detail"><img src="~/images/image03.jpg" alt="Book" width="280" /></a>
                                            </div>
                                            <div class="span8 book-detail">
                                                <h2 style="color:white">Book Name</h2>
                                                <strong class="title" style="color:white">by Author Name</strong> <span class="rating-bar"> <img src="~/images/raing-star2.png" alt="Rating Star" /> </span> <a href="~/Home/book-detail" class="shop-btn">Reserve Book</a>
                                                <div class="cap-holder">
                                                    <p><img src="~/images/image27.png" alt="Best Choice" align="right" />  Description about Book.............. </p>
                                                    <a href="~/Home/book-detail">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav class="bb-custom-nav"> <a href="#" id="bb-nav-prev" class="left-arrow">Previous</a> <a href="#" id="bb-nav-next" class="right-arrow">Next</a> </nav>
                    </section>
                    <span class="slider-bottom"><img src="~/images/slider-bg.png" alt="Shadow" /></span>
                </section>
                <section class="span12 wellcome-msg m-bottom first">
                    <h2>WELCOME TO Library Management System.</h2>
                    <p>Offering a wide selection of books on thousands of topics to satisfy any book-lover!</p>
                </section>
            </section>


            <!-- Start BX Slider holder -->
            <section class="row-fluid features-books">
                <section class="span12 m-bottom">
                    <div class="heading-bar">
                        <h2>Featured Books</h2>
                        <span class="h-line"></span>
                    </div>
                    <div class="slider1">
                        <div class="slide">
                            <a href="~/Home/book_detail"><img src="~/images/image05.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="~/Home/book_detail">Python Programming</a></span> <span class="rating-bar"><img src="~/images/rating-star.png" alt="Rating Star" /></span>
                        </div>
                        <div class="slide">
                            <a href="~/Home/book_detail"><img src="~/images/image06.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="~/Home/book_detail">Software Engineering</a></span> <span class="rating-bar"><img src="~/images/rating-star.png" alt="Rating Star" /></span>
                        </div>
                        <div class="slide">
                            <a href="~/Home/book_detail"><img src="~/images/image07.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="~/Home/book_detail">Windows Server 2003</a></span> <span class="rating-bar"><img src="~/images/rating-star.png" alt="Rating Star" /></span>
                        </div>
                        <div class="slide">
                            <a href="~/Home/book_detail"><img src="~/images/image08.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="~/Home/book_detail">Computer Fundamentals</a></span> <span class="rating-bar"><img src="~/images/rating-star.png" alt="Rating Star" /></span>
                        </div>
                        <div class="slide">
                            <a href="~/Home/book_detail"><img src="~/images/image09.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="~/Home/book_detail">C# Complete Reference</a></span> <span class="rating-bar"><img src="~/images/rating-star.png" alt="Rating Star" /></span>
                        </div>
                        <div class="slide">
                            <a href="~/Home/book_detail"><img src="~/images/image10.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="~/Home/book_detail">Artificial Intelligence</a></span> <span class="rating-bar"><img src="~/images/rating-star.png" alt="Rating Star" /></span>
                        </div>
                        <div class="slide">
                            <a href="~/Home/book_detail"><img src="~/images/image06.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="~/Home/book_detail">Software Engineering</a></span> <span class="rating-bar"><img src="~/images/rating-star.png" alt="Rating Star" /></span>
                        </div>
                        <div class="slide">
                            <a href="~/Home/book_detail"><img src="~/images/image07.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="~/Home/book_detail">Windows Server 2003</a></span> <span class="rating-bar"><img src="~/images/rating-star.png" alt="Rating Star" /></span>
                        </div>
                        <div class="slide">
                            <a href="~/Home/book_detail"><img src="~/images/image05.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="~/Home/book_detail">Python Programming</a></span> <span class="rating-bar"><img src="~/images/rating-star.png" alt="Rating Star" /></span>
                        </div>
                        <div class="slide">
                            <a href="~/Home/book_detail"><img src="~/images/image09.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="~/Home/book_detail">C# Complete Reference</a></span> <span class="rating-bar"><img src="~/images/rating-star.png" alt="Rating Star" /></span>
                        </div>
                        <div class="slide">
                            <a href="~/Home/book_detail"><img src="~/images/image10.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="~/Home/book_detail">Artificial Intelligence</a></span> <span class="rating-bar"><img src="~/images/rating-star.png" alt="Rating Star" /></span>
                        </div>
                        <div class="slide">
                            <a href="~/Home/book_detail"><img src="~/images/image08.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="~/Home/book_detail">Computer Fundamentals</a></span> <span class="rating-bar"><img src="~/images/rating-star.png" alt="Rating Star" /></span>
                        </div>
                        <div class="slide">
                            <a href="~/Home/book_detail"><img src="~/images/image06.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="~/Home/book_detail">Software Engineering</a></span> <span class="rating-bar"><img src="~/images/rating-star.png" alt="Rating Star" /></span>
                        </div>
                    </div>
                </section>
            </section>
            <!-- End BX Slider holder -->

            <aside>
                <section class="row-fluid ">
                    <figure class="span4 s-product">
                        <div class="s-product-img"><a href="~/Home/book_detail"><img width="85" src="~/images/image02.jpg" alt="Image02" /></a></div>
                        <article class="s-product-det">
                            <h3><a href="~/Home/book_detail" style="color:#0099CC">Object Oriented Programming with Java</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod dolore magna aliqua.</p>
                        </article>
                    </figure>
                    <figure class="span4 s-product">
                        <div class="s-product-img"><a href="~/Home/book_detail"><img width="95" src="~/images/image03.jpg" alt="Image02" /></a></div>
                        <article class="s-product-det">
                            <h3><a href="~/Home/book_detail" style="color:#0099CC">Statistics</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod dolore magna aliqua.</p>
                        </article>
                    </figure>
                    <figure class="span4 s-product">
                        <div class="s-product-img"><a href="~/Home/book_detail"><img width="85" src="~/images/image04.jpg" alt="Image02" /></a></div>
                        <article class="s-product-det">
                            <h3><a href="~/Home/book_detail" style="color:#0099CC">Data Structure And Algorithum</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod dolore magna aliqua.</p>
                            <span class="rating-bar"><img src="~/images/rating-star.png" alt="Rating Star" /></span>
                        </article>
                    </figure>
                </section>
            </aside>




            <section class="row-fluid m-bottom">
                <!-- Start Blog Section -->
                <!--   <section class="span9 blog-section">
                    <div class="heading-bar">
                      <h2>Latest from the Blog</h2>
                      <span class="h-line"></span> </div>
                    <div class="slider3">
                      <div class="slide">
                        <div class="post-img"><a href="blog-detail.html"><img src="images/image18.jpg" alt=""/></a> <span class="post-date"><span>02</span> May</span> </div>
                        <div class="post-det">
                          <h3><a href="blog-detail.html">Our latest arrival is the Spring Summer 2013 Book Fair</a></h3>
                          <span class="comments-num">6 comments</span>
                          <p>Gluten-free quinoa selfies carles, kogi gentrify retro marfa viral. Aesthetic before they sold out put a bird on it sriracha typewriter. Skateboard viral irony tonx ... </p>
                        </div>
                      </div>
                      <div class="slide">
                        <div class="post-img"><a href="blog-detail.html"><img src="images/image29.jpg" alt=""/></a> <span class="post-date"><span>24</span> Oct</span> </div>
                        <div class="post-det">
                          <h3><a href="blog-detail.html">Our latest arrival is the Spring Summer 2012 Book Fair</a></h3>
                          <span class="comments-num">48 comments</span>
                          <p>Gluten-free quinoa selfies carles, kogi gentrify retro marfa viral. Aesthetic before they sold out put a bird on it sriracha typewriter. Skateboard viral irony tonx ... </p>
                        </div>
                      </div>
                      <div class="slide">
                        <div class="post-img"><a href="blog-detail.html"><img src="images/image30.jpg" alt=""/></a> <span class="post-date"><span>10</span> Aug</span> </div>
                        <div class="post-det">
                          <h3><a href="blog-detail.html">Our latest arrival is the Spring Summer 2011 Book Fair</a></h3>
                          <span class="comments-num">24 comments</span>
                          <p>Gluten-free quinoa selfies carles, kogi gentrify retro marfa viral. Aesthetic before they sold out put a bird on it sriracha typewriter. Skateboard viral irony tonx ... </p>
                        </div>
                      </div>
                    </div>
                  </section> -->
                <!-- End Blog Section -->


            </section>
        </section>
        <!-- End Main Content Holder -->
        <!-- Start Footer Top 1 -->
        <section class="container-fluid footer-top1">
            <section class="container">
                <section class="row-fluid">
                    <figure class="span3">
                        <h4>Newsletter</h4>
                        <p>Subscribe to be the first to know about Best Deals and Exclusive Offers!</p>
                        <input name="" type="text" class="field-bg" value="Enter Your Email" />
                        <input name="" type="submit" value="Subscribe" class="sub-btn" />
                    </figure>
                    <figure class="span3" style="margin-left:200px">
                        <h4>Location</h4>
                        <p>5/23, Loft Towers, Business Center, 6th Floor, Media City, Dubai.</p>
                        <span>
                            <ul class="phon-list">
                                <li>(971) 438-555-314</li>
                                <li>(971) 367-252-333</li>
                            </ul>
                        </span> <span class="mail-list">
                            <a href="#">info@companyname</a><br />
                            <a href="#">jobs@companyname.com</a>
                        </span>
                    </figure>
                    <figure class="span3" style="margin-left:120px">
                        <h4>Opening Time</h4>
                        <p>Monday-Friday ______8.00 to 18.00</p>
                        <p>Saturday ____________ 9.00 to 18.00</p>
                        <p>Sunday _____________10.00 to 16.00</p>
                        <p>Every 30 day of month Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </figure>
                </section>
            </section>
        </section>
        <!-- End Footer Top 1 -->
        <!-- Start Main Footer -->
        <footer id="main-footer">
            <section class="social-ico-bar">
                <section class="container">
                    <section class="row-fluid" style="text-align:center">
                        <article class="span6" style="text-align:right">
                            <p>© Developed by: </p>
                        </article>
                        <article class="span6 copy-right" style="text-align:left">
                            <p>Abdul Aleem , Ramzan Anjum , Amaid Niazi</p>
                        </article>
                    </section>
                </section>
            </section>
        </footer>
        <!-- End Main Footer -->
    </div>
    <!-- End Main Wrapper -->
    <!-- JS Files Start -->
    <script type="text/javascript" src="/Scripts/SliderJS/lib.js"></script><!-- lib Js -->
    <script type="text/javascript" src="/Scripts/SliderJS/modernizr.js"></script><!-- Modernizr -->
    <script type="text/javascript" src="/Scripts/SliderJS/easing.js"></script><!-- Easing js -->
    <script type="text/javascript" src="/Scripts/SliderJS/bs.js"></script><!-- Bootstrap -->
    <script type="text/javascript" src="/Scripts/SliderJS/bxslider.js"></script><!-- BX Slider -->
    <script type="text/javascript" src="/Scripts/SliderJS/input-clear.js"></script><!-- Input Clear -->
    <script src="/Scripts/SliderJS/range-slider.js"></script><!-- Range Slider -->
    <script src="/Scripts/SliderJS/jquery.zoom.js"></script><!-- Zoom Effect -->
    <script type="text/javascript" src="/Scripts/SliderJS/bookblock.js"></script><!-- Flip Slider -->
    <script type="text/javascript" src="/Scripts/SliderJS/custom.js"></script><!-- Custom js -->
    <script type="text/javascript" src="/Scripts/SliderJS/social.js"></script><!-- Social Icons -->
    <!-- JS Files End -->
    <noscript>
        <style>
            #socialicons > a span {
                top: 0px;
                left: -100%;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }

            #socialicons > ahover div {
                left: 0px;
            }
        </style>
    </noscript>
    <script type="text/javascript">
  /* <![CDATA[ */
  $(document).ready(function() {
  $('.social_active').hoverdir( {} );
})
/* ]]> */
    </script>
</body>
</html>

